<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.easynotes.mappers.GroupMapper">

    <resultMap id="GroupResultMap" type="group">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <resultMap id="GroupDTOResultMap" type="groupDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="created_date" property="createdDate" />

    </resultMap>

    <select id="findAllGroups" resultMap="GroupResultMap" >
        select * from groups;
    </select>

    <select id="findGroupByStudents" resultMap="GroupResultMap" >
        select
            *
        from
            groups
        where
            id
        in
            <foreach collection="list" index="idx" item="student" open="(" separator="," close=")">
                #{student.groupId}
            </foreach> ;
    </select>


    <select id="findGroupsDtoByTeachers" resultMap="GroupDTOResultMap">
        select
            g.id as id,
            g.name as name,
            g.created_date as created_date
        from
            groups g
        join
            lessons l
        on
            l.group_id = g.id
        where
            l.teacher_id
        in
        <foreach collection="list" index="idx" item="teacher" open="(" separator="," close=")">
            #{teacher.id}
        </foreach> ;
    </select>

    <insert id="createGroup" useGeneratedKeys="true" >
        insert into groups(name, created_date) values(#{name}, #{createdDate});
    </insert>

    <update id="updateGroup">
        update groups set name = #{name} where id = #{id};
    </update>

    <delete id="deleteGroup">
        delete from groups where id = #{id};
    </delete>

<!--    <select id="findGroupById" resultMap="GroupResultMap">-->
<!--        select * from groups WHERE id=#{id}-->
<!--    </select>-->

<!--    <insert id="insertGroup" parameterType="com.example.easynotes.model.Group" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into groups (name, created_date) values(#{name},#{createdDate})-->
<!--    </insert>-->
</mapper>