<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.easynotes.mappers.TeacherMapper">

    <resultMap id="TeacherResultMap" type="teacher">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />

        <collection  property="groups"  ofType="group">
            <id column="gid" property="id" />
            <result column="gname" property="name" />
            <result column="gdate" property="createdDate" />
        </collection>
    </resultMap>

    <resultMap id="TeacherDTOResultMap" type="teachersDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />
    </resultMap>

    <select id="findAllTeachers" resultMap="TeacherResultMap" >
        select
            t.id, t.name, t.email, g.id as gid, g.name as gname, g.created_date as gdate
        from
            teachers t
        left join
            lessons l
        on
            t.id = l.teacher_id
        inner join
            groups g
        on
            g.id = l.group_id;
    </select>

    <select id="findTeachersDtoByGroups" resultMap="TeacherResultMap" >
        select
            *
        from
            teachers t
        join
            lessons l
        on
            t.id = l.teacher_id
        where
            l.group_id
        in
            <foreach collection="list" index="idx" item="group" open="(" separator="," close=")">
                #{group.id}
            </foreach> ;
    </select>

    <select id="findTeachersByName" resultMap="TeacherResultMap" >
        select
            *
        from
            teachers t
        where
            t.name
        like
            #{teacherName};
    </select>

    <insert id="createTeacher" useGeneratedKeys="true" >
        insert into teachers(name, email) values(#{name}, #{email});
    </insert>

    <update id="updateTeacher">
        update teachers set name = #{name}, email = #{email} where id = #{id};
    </update>

    <delete id="deleteTeacher">
        delete from teachers where id = #{id};
    </delete>

    <!--    <select id="findGroupById" resultMap="GroupResultMap">-->
    <!--        select * from groups WHERE id=#{id}-->
    <!--    </select>-->

    <!--    <insert id="insertGroup" parameterType="com.example.easynotes.model.Group" useGeneratedKeys="true" keyProperty="id">-->
    <!--        insert into groups (name, created_date) values(#{name},#{createdDate})-->
    <!--    </insert>-->
</mapper>